// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background-color: #F8F9FA;
  width: vmax;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgb(48, 155, 209);
}

.container {
  margin-top: 32px;
  margin: 2.5vw;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(48, 155, 209);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2.5vh;
  column-gap: 2.5vw;
}

.card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.card-image img {
  max-width: 100%;
  object-fit: fill;
}
.card-header {
  background-color: #F8F9FA;
  padding: 12px;
}
.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
}

form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 32px;
}
form input {
  margin: 8px 16px;
}
